<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <div class="row mt-5">
    <div class="col-md-12">
      <h4 class="mt-3">All orders</h4>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Name</th>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>
                <button
                  class="btn btn-link btn-link-info"
                  [routerLink]="['/orders/', order._id]"
                >
                  {{ order.createdAt }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
